<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="OilToolsPlantformEntities" connectionString="metadata=res://*/Models.OilToolsPlantform.csdl|res://*/Models.OilToolsPlantform.ssdl|res://*/Models.OilToolsPlantform.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=OilToolsData;persist security info=True;user id=sa;password=temp@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>