<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="login.html" />
			</files>
		</defaultDocument>
	</system.webServer>
	<appSettings>
		<!--外部用户注册后的默认角色ID-->
		<add key="defaultRoleForOutPerson" value=""/>
		<!--内部组织ID-->
		<add key="InPersonOrgID" value="1"/>
		<!--外部组织ID-->
		<add key="OutPersonOrgID" value="14"/>
		<!--内部人员工具审核流程，部门ID列表-->
		<add key="InToolAuditProcess" value=""/>
		<!--外部人员工具审核流程，部门ID列表-->
		<add key="OutToolAuditProcess" value=""/>
	</appSettings>
</configuration>
