
@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******x reset end*****/
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  -webkit-overflow-scrolling: touch;
}

a {
  background-color: transparent;
  outline: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******x reset end*****/
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  -webkit-overflow-scrolling: touch;
}

a {
  background-color: transparent;
  outline: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

/*------------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******reset end*****/
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  outline: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.c999 {
  color: #999999;
}

.c000 {
  color: #000;
}

.cfff {
  color: #fff;
}

.bgfff {
  background-color: #fff;
}

/***********************************/
.m0 {
  margin: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.m5 {
  margin: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.m30 {
  margin: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.p0 {
  padding: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.p10 {
  padding: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.text-nowrap {
  white-space: nowrap;
}

.text-bold {
  font-weight: bold !important;
}

/*清除浮动类*/
.clear {
  clear: both;
  *zoom: 1;
}

.cf:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '';
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*显示类*/
.hide,
.hidden {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inlineblock,
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*位置浮动类*/
.float-left,
.pull-left {
  float: left;
}

.float-right,
.pull-right {
  float: right;
}

.vertical-middle {
  vertical-align: middle;
}

.over-hide,
.over-hidden {
  overflow: hidden;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.scroll-auto,
.scrollauto {
  overflow: auto;
}

.scroll {
  overflow: auto;
}

/*内联文本类*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify !important;
}

.text-truncate {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.text-nowrap,
.nowrap {
  white-space: nowrap;
}

.breakall,
.break-all,
.text-break {
  word-break: break-all;
}

.text-bold,
.font-bold {
  font-weight: bold !important;
}

.text-lowercase,
.lowercase {
  text-transform: lowercase !important;
}

.text-uppercase,
.uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-white {
  color: #fff !important;
}

.text-muted {
  color: #636c72 !important;
}

.hover-transition {
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/*颜色类*/
.c000 {
  color: #000;
}

.c333 {
  color: #333333;
}

.c666 {
  color: #666666;
}

.c999 {
  color: #999999;
}

.cfff {
  color: #fff;
}

/*背景颜色类*/
.bgfff {
  background-color: #fff;
}

.bg000 {
  background-color: #000;
}

/*高度宽度调整类*/
.height0,
.h0 {
  height: 0 !important;
}

.heightauto,
.hauto,
.ha {
  height: auto;
}

.heightfull,
.hfull {
  height: 100% !important;
}

.width0,
.w0 {
  width: 0 !important;
}

.widthauto,
.wauto {
  width: auto;
}

.widthfull,
.wfull {
  width: 100% !important;
}

/*透明*/
.transparent {
  opacity: 0;
}

/*边距类*/
.m0 {
  margin: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.p0 {
  margin: 0 !important;
}

.pl0 {
  margin-left: 0 !important;
}

.pr0 {
  margin-right: 0 !important;
}

.pt0 {
  margin-top: 0 !important;
}

.pb0 {
  margin-bottom: 0 !important;
}

/**/
.round,
.rounded {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.circle {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

/*位置类*/
.pr,
.relative {
  position: relative;
}

.affix,
.pfix,
.fixed {
  position: fixed;
}

.absolute,
.pa {
  position: absolute;
}

/*文字样式类*/
.font-italic {
  font-style: italic;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

/*文字样式类*/
.arial {
  font-family: Arial, "arial";
  font-family: Arial, "arial" !important;
  *font-family: Arial, "arial";
}

/*黑体，可扩展*/
.heiti {
  font-family: "黑体", "heiti";
  font-family: "黑体", "heiti" !important;
  *font-family: "黑体", "heiti";
}

/*文字大小类*/
.f12,
.font12 {
  font-size: 12px;
}

.f14,
.font14 {
  font-size: 14px;
}

.f16,
.font16 {
  font-size: 16px;
}

.f18,
.font18 {
  font-size: 18px;
}

.f20,
.font20 {
  font-size: 20px;
}

.f24,
.font24 {
  font-size: 24px;
}

.f30,
.font30 {
  font-size: 30px;
}

.pointer {
  cursor: pointer;
}

.scale0 {
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
}

.scale1 {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.left0 {
  left: 0;
}

.top0 {
  top: 0;
}

.bottom0 {
  bottom: 0;
}

.right0 {
  right: 0;
}

body {
  font-family: sans-serif;
  font-style: normal;
}

.detail h1 {
  font-family: "Helvetica Bold", sans-serif;
}

.detail > .goods {
  padding-top: 40px;
  padding-bottom: 90px;
  padding-top: 40px !important;
  padding-bottom: 90px !important;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.pop-ups .pop-header .pro-name {
  font-family: sans-serif;
}

.pop-ups ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  white-space: nowrap;
  overflow: auto;
}

.pop-ups ul li > * {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.pop-ups ul li span.text-right {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  flex-grow: 1 !important;
}

footer {
  padding-top: 0;
  padding-top: 0 !important;
}

#gotop {
  width: 0.85333rem;
  height: 0.85333rem;
  background: url(../img/go_top2.png) no-repeat center center;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
  position: fixed;
  right: 20px;
  bottom: 20px;
  -webkit-animation: fadeIn linear 0.5s;
     -moz-animation: fadeIn linear 0.5s;
       -o-animation: fadeIn linear 0.5s;
          animation: fadeIn linear 0.5s;
  z-index: 99;
  cursor: pointer;
  display: none;
}

html {
  font-size: -webkit-calc(100vw / 10);
  font-size: -moz-calc(100vw / 10);
  font-size: calc(100vw / 10);
}

body {
  font-size: 12px;
  color: #999999;
}

body {
  font-size: 0.5rem;
}

@media (width: 320px) {
  html {
    font-size: 32px;
  }
}

.so-not-found {
  line-height: 1;
  font-size: 18px;
  color: #747581;
  font-weight: bold;
	margin:0 auto;
/*  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 30%;
  left: 50%; */
}
.so-not-found img{
	width: 2.2rem;
	vertical-align: top;
}

.so-not-found div {
  margin-top: 20px;
	font-size: 16px;
}

.scale-half {
  -webkit-transform: scale(0.5, 0.5) translateY(50%);
     -moz-transform: scale(0.5, 0.5) translateY(50%);
      -ms-transform: scale(0.5, 0.5) translateY(50%);
       -o-transform: scale(0.5, 0.5) translateY(50%);
          transform: scale(0.5, 0.5) translateY(50%);
}

@media (width: 375px) {
  html {
    font-size: 37.5px;
  }
}

@media (width: 414px) {
  html {
    font-size: 41.4px;
  }
}

@media (min-width: 640px) {
  body {
    width: 640px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.search {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-duration: 0.3s;
     -moz-animation-duration: 0.3s;
       -o-animation-duration: 0.3s;
          animation-duration: 0.3s;
  animation-duration: 0.3s !important;
}

.search .so-header {
  white-space: nowrap;
  position: relative;
  height: 1.33333rem;
  padding-bottom: 0.13333rem;
	margin-bottom: 0.2rem;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 0.4rem;
  padding-top: 0.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  background-color: #fff;
}

.search .so-header > * {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.search .so-header > form {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search .so-header .so-sub {
  width: 0.66667rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 9;
}

.search .so-header ::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
}

.search .so-header .so-txt {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: 0;
  padding-left: 0.8rem;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  height: 0.8rem;
  border: 1px solid #DBDCDC;
  -webkit-border-radius: 0.10667rem;
     -moz-border-radius: 0.10667rem;
          border-radius: 0.10667rem;
  background: url(../img/find_dark.png) no-repeat 0.22667rem center;
  background-color: #F3F5F6;
  -moz-background-size: 0.49333rem 0.49333rem;
    -o-background-size: 0.49333rem 0.49333rem;
       background-size: 0.49333rem 0.49333rem;
  font-size: 0.32rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: #454553;
  font-weight: bold;
}

.search .so-header .so-cancel {
  width: 1.6rem;
  height: 0.8rem;
  background: transparent;
  text-align: center;
  font-size: 0.4rem;
	outline: none;
	color: #666;
}

.search .hot-hd {
  text-align: center;
  /* padding-top: 1.6rem; */
  padding-bottom: 0.4rem;
  font-size: 0.53333rem;
  color: #757681;
}

.search .hot-hd h1 {
  font-size: 0.53333rem;
  font-weight: bold;
}

.search .hot-hd p {
  font-size: 0.32rem;
  color: #cacbd0;
}

.search .s-list {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.search .s-list .s-item {
  height: 3.6rem;
  width: 33.33%;
  border-right: 1px solid #fff;
  float: left;
  text-align: center;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  cursor: pointer;
}

.search .s-list .s-item img {
  max-width: 100%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.search .s-list .s-item .s-name {
  padding-top: 0.32rem;
  font-size: 0.26667rem;
  color: #454553;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-family: "Helvetica Bold",sans-serif;
  font-weight: bold;
}

.search .s-list .s-item .s-img {
  width: 100%;
  height: 2.50667rem;
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fade-big {
  -webkit-animation: fade-big 0.2s linear;
     -moz-animation: fade-big 0.2s linear;
       -o-animation: fade-big 0.2s linear;
          animation: fade-big 0.2s linear;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade-big {
  0% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    width: 7.84rem;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}

@-moz-keyframes fade-big {
  0% {
    -moz-transform: translate(0px, 0);
         transform: translate(0px, 0);
    -moz-transform-origin: center center;
         transform-origin: center center;
  }
  100% {
    -moz-transform: translate(0%, 0);
         transform: translate(0%, 0);
    width: 7.84rem;
    -moz-transform-origin: center center;
         transform-origin: center center;
  }
}

@-o-keyframes fade-big {
  0% {
    -o-transform: translate(0px, 0);
       transform: translate(0px, 0);
    -o-transform-origin: center center;
       transform-origin: center center;
  }
  100% {
    -o-transform: translate(0%, 0);
       transform: translate(0%, 0);
    width: 7.84rem;
    -o-transform-origin: center center;
       transform-origin: center center;
  }
}

@keyframes fade-big {
  0% {
    -webkit-transform: translate(0px, 0);
       -moz-transform: translate(0px, 0);
         -o-transform: translate(0px, 0);
            transform: translate(0px, 0);
    -webkit-transform-origin: center center;
       -moz-transform-origin: center center;
         -o-transform-origin: center center;
            transform-origin: center center;
  }
  100% {
    -webkit-transform: translate(0%, 0);
       -moz-transform: translate(0%, 0);
         -o-transform: translate(0%, 0);
            transform: translate(0%, 0);
    width: 7.84rem;
    -webkit-transform-origin: center center;
       -moz-transform-origin: center center;
         -o-transform-origin: center center;
            transform-origin: center center;
  }
}

.__loading-box {
  font-size: 0;
  background: rgba(0, 0, 0, 0.71);
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: none;
  padding: 15px;
}

.__loading,
.__loading2-circle {
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: __rotate 0.75s linear infinite;
  -moz-animation: __otate 0.75s linear infinite;
  -o-animation: __rotate 0.75s linear infinite;
  animation: __rotate 0.75s linear infinite;
}

/*css3*/
@-webkit-keyframes __rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(0deg) translate3d(0, 0, 0);
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotateZ(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(180deg) translate3d(0, 0, 0);
    transform: rotateZ(180deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(360deg) translate3d(0, 0, 0);
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}
@-moz-keyframes __rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(0deg) translate3d(0, 0, 0);
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotateZ(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(180deg) translate3d(0, 0, 0);
    transform: rotateZ(180deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(360deg) translate3d(0, 0, 0);
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}
@-o-keyframes __rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(0deg) translate3d(0, 0, 0);
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotateZ(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(180deg) translate3d(0, 0, 0);
    transform: rotateZ(180deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(360deg) translate3d(0, 0, 0);
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}
@keyframes __rotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(0deg) translate3d(0, 0, 0);
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotateZ(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(180deg) translate3d(0, 0, 0);
    transform: rotateZ(180deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 0, 0);
    -moz-transform: rotateZ(360deg) translate3d(0, 0, 0);
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}

.null-box {
  text-align: center;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  color: #747581;
  padding-top: 40%;
  font-weight: bold;
  font-size: 0;
}

.null-box .null-note {
  font-size: 18px;
  padding-top: 20px;
  line-height: 1;
}

.max-width, .maxwidth {
  max-width: 100%;
}


.qrcode{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,0.67);
}

.qrcode-inner{
	position: relative;
	width: 3.2rem;
	top: 50%;
	left: 50%;
	margin-left: -1.6rem;
	margin-top: -3rem;
	text-align: center;
}
	
.qrcode-inner .qrcode-img{
	width: 100%;
}

.qrcode-inner .btn-close{
	width:0.74rem;
	height: 0.74rem;
	margin: 0.8rem auto 0;
	background: url(../img/btn_close.png) center center no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}

.btn-getmore{
	position: relative;
	width: 3.3rem;
	margin:0 auto;
	top: 3.2rem;
	text-align: center;
	font-size: 0.27rem;
	line-height: 0.66666rem;
	height:0.66666rem;
	color: #342928;
	background-color: #e2c780;
	border-radius: 0.3rem;
	-webkit-border-radius: 0.3rem;
}


/* type wrap */
.type-wrap{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	/* height: rem; */
	background-color: #f8f8f8;
	-webkit-tap-highlight-color: transparent;
}

.type-wrap-row{
	width: 100%;
	height: 1.7rem;
	position: relative;
}

.type-wrap-row:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #dcdcdc;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
   opacity: 0.5;
}

.type-item{
	position: relative;
	top:0;
	left: 0;
	width: 33.33%;
	height: 100%;
	float: left;
}

.type-item.active:after{
	position: absolute;
	width: 70%;
	left: 15%;
	bottom: 0;
	content: "";
	height:1px;
	background-color: #e03636;
}

.type-item h3{
	text-align: center;
	font-size: 0.27rem;
	color: #666;
}

.type-item.active h3{
	color: #000000;
	font-weight: bold;
}

.type-img{
	width: 100%;
	height: 1.1rem;
	text-align: center;
}

.type-img img{
	position: relative;
	max-width:100%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.t1 img{
	width: 0.5rem;
}
.t2 img{
	width: 0.8rem;
}
.t3 img{
	width: 0.6rem;
}
.t4 img{
	width: 1rem;
}
.t5 img{
	width: 0.8rem;
}
.t6 img{
	width: 0.5rem;
}
.t7 img{
	width: 1rem;
}
.t8 img{
	width: 0.8rem;
}
.t9 img{
	width: 1rem;
}